@font-face {
    font-family: 'Electroharmonix';
    src: url('fonts/electroharmonix.ttf');
}

@font-face {
    font-family: 'Bitxmap';
    src: url('fonts/bitxmap.ttf');
}

a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a.current:link, a.current:visited, a:hover, a:active { 
    color: #e04968;
} 

html {
    background-image: url(../img/space.gif);
}

.centerblock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.topnav {
    font-family: 'Electroharmonix', 'Georgia', serif;
    text-align: center;
    font-size: 1.6vw;
}

h2, h3, ul, p  { 
    font-family: 'bitxmap', 'Georgia', serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 6vw;
    font-family: 'Electroharmonix', 'Georgia', serif;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69, ;
    }
    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}
